h1{
color: aquamarine;
}

.exito{
    color: black;
}
.advertensia{color: brown;
}
.peligro{color: blue;}
.arango{color: blueviolet;
}
.vasques{color: aqua;}
.palacio{color: antiquewhite;}

img{
    width: 100px;
    height: auto;
}